@media (max-width: 1200px){
    .container {
        max-width: 100%;
    }
    .footer{
        padding: 40px;
    }
}
@media (max-width: 992px) {
    .features .container{
        flex-wrap: wrap;
    }
    .recommend{
        padding: 40px;
    }
    .recommend .container{
        flex-wrap: wrap;
    }
    .recommendCard {
        width: 48%;
        margin-bottom: 28px;
    }
    
}
@media (max-width: 768px) {
    .sectTitle{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }
    .homeIcon{
        width: 24px;
        height: 24px;
    }
    .banner{
        padding-right: 40px;
    }
    .banner h3{
        font-size: 20px;
        line-height: 30px;
    }
    .banner h2{
        font-size: 48px;
        line-height: 72px;
    }
    .features{
        padding: 40px 85px;
    }
    .features ul li{
        width: 48%;
        margin-bottom: 40px;
    }
    .features .container{
        justify-content: space-evenly;
    }

    .classic{
        padding: 40px;
    }
    .themeImg{
        max-width: 390px;
        height: 168px;
    }
    .themeTitle{
        font-size: 28px;
        line-height: 42px;
    }
    .themeIcon{
        width: 32px;
        height: 32px;
    }
    .classicList li:nth-child(2) .theme{
        flex-direction: row;
    }
    .classicList li:nth-child(2) .themeTitle{
        margin-right: auto;
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 0;
    }
    .cobrand{
        padding: 40px;
    }
    .cobrandMenu{
        height: 280px;
    }
    .cobrandTitle{
        font-size: 32px;
        line-height: 45px;
    }
    .contact{
        padding: 40px 0px;
    }
    .contactForm{
        max-width: 450px;
    }
    .contactFormSub{
        font-size: 14px;
        line-height: 21px;
    }
    .contactDes{
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0px;
    }
    .contactForm label {
        font-size: 14px;
        line-height: 21px;
    }
    .contactForm input{
        padding: 8px 12px;
        margin-bottom: 8px;
    }
    .fotMenu li{
        margin-right: 40px;
    }
    .footer .contactList a{
        font-size: 20px;
        line-height: 30px;
    }
    .copyright .storelogo{
        display:none;
    }
    @media (max-width: 575px){
        .sectTitle{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .navbar {
            flex-direction: column;
            padding: 0;
        }
        .storelogo {
            width: 48px;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .menu{
            width: 100%;
            flex-wrap: wrap;
        }
        .menu li{
            width: 50%;
            border: 1px solid #FFFFFF;
            margin-left: 0;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .banner{
            padding-right: 15px;
        }
        .banner h3{
            font-size: 16px;
        }
        .banner h2{
            font-size: 32px;
        }
        .features {
            padding: 32px 55px;
        }
        .features ul li{
            width: 100%;
        }
        .classic{
            padding-right: 15px;
            padding-left: 15px;
        }
        .themeImg{
            width: 100%;
            margin: 0 auto;
        }
        .themeTitle{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            color: $secondaryText;
            text-align: center;
            margin-top: -21px;
        }
        .themeIcon{
            filter: invert(100%) sepia(39%) saturate(0%) hue-rotate(27deg) brightness(114%) contrast(101%);
        }
        .classicList li:nth-child(2) .themeTitle{
            padding: 0;
        }
        .cobrand{
            padding: 32px 15px;
        }
        .cobrand .container{
            flex-wrap: wrap;
            flex-direction: column;
            align-items:center;
        }
        .cobrandMenu{
            width: 345px;
            height: 284px;
        }
        .cobrandMenu:first-child{
            margin-bottom: 16px;
        }
        .recommend{
            padding: 32px 15px;
        }
        .recommend .container{
            justify-content: center;
        }
        .recommendCard {
            width: 345px;
            margin-bottom: 16px;
        }
        .contact{
            padding: 32px 15px;
        }
        .footer{
            padding: 24px 15px;
        }
        .fotMenu{
            display:none;
        }
        .footer .contactList a{
            font-size: 16px;
        }
        .contactList img{
            width: 20px;
            height: 20px;
        }
        .fotIcon li{
            margin-left: 24px;
        }
        .fotIcon li:first-child{
            margin-left: 0px;
        }
        .copyright, .copyright ul.copyrightList{
           flex-direction: column;
           align-items: flex-start;
           width: 100%;
        }
        .copyrightList, .copyrightListItem{
            margin-bottom: 8px;
        }
        .copyrightListItem{
            width: 100%;
            text-align: left;
            margin-left: 0;
        }
        .copyright ul.copyrightList:after{
            content: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true');
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}