*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Noto Sans','Roboto', sans-serif;
}
/* Utility setting */
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.sectTitle{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: $primaryText;
    text-align: center;
    margin-bottom: 60px;
}

.homeIcon{
    width: 48px;
    height: 48px;
}
.bgCover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryBgColor;
    color: $secondaryText;
    padding: 30px 80px;
}
.storelogo {
    width: 80px;
    height: 50px;
}
.menu {
    display: flex;
}
.menu li{
    margin-left: 62px;
}
.menu li:nth-child(1){
    margin-left: 0;
}
.menuItem{
    font-size: $primaryFontSize;
    color: $secondaryText;
    line-height: 30px;
    text-decoration: none;
}
.menuItem:hover{
    font-size: calc($primaryFontSize * 1.1);
}

.footer{
    background: $primaryBgColor;
    padding:36px 0px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.fotMenu{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-bottom: 32px;
}
.fotMenu li{
    margin-right: 48px;
}
.fotMenu li:last-child{
    margin-right: 0px;
}
.fotMenu a{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $secondaryText;
}
.fotIcon{
    display: flex;
}
.fotIcon li{
    margin-left: 32px;
}
.footer .contact li{
    display: flex;
    align-items: center;
}
.footer .contactList a{
    text-decoration: none;
    color: $secondaryText;
    font-size: 36px;
    line-height: 54px;
}
.footer .contact .contactListItem{
    margin-left: 12px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FFFFFF;
    padding-top: 16px;
}
.copyright .storelogo{
    margin-right: 38px;
}
.copyrightText{
    font-size: 16px;
    line-height: 24px;
}
.copyrightList{
    display: flex;
    color: $secondaryText;
    align-items: center;
}
.copyright ul.copyrightList{
    position: relative;
    justify-content: flex-end;
    width: 30%;
}
.copyrightListItem{
    width: 50%;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
}
.copyrightListItem a{
    text-decoration: none;
    color: $secondaryText;
}