*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Noto Sans','Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    @media (max-width: $breakpoint-pc-lg){
        &{
            max-width: 100%;
        }
    }
}
.sectTitle{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: $primaryText;
    text-align: center;
    margin-bottom: 60px;
    @media (max-width: $breakpoint-phone-lg){
        &{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 32px;
        }
    }
    @media (max-width: $breakpoint-phone-md){
        &{
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}
.homeIcon{
    width: 48px;
    height: 48px;
    @media (max-width: $breakpoint-phone-lg){
        width: 24px;
        height: 24px;
    }
}
.bgCover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainlogo{
    display: block;
    width: 80px;
    height: 49px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @media (max-width: $breakpoint-phone-md){
        &{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
.storelogo {
    width: 80px;
    height: 50px;
    @media (max-width: $breakpoint-phone-md){
        &{
            width: 48px;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}




