$primaryBgColor: #AA0601;
$secondaryBgColor: #FBF2F2;
$thirdBgColor: #650300;

$primaryText: #650300;
$secondaryText: #FFFFFF;
$thirdText: #212529;
$fouthText: #AA0601;

$primaryFontSize: 20px;

$breakpoint-pc-lg: 1200px;
$breakpoint-pc-md: 992px;
$breakpoint-phone-lg: 768px;
$breakpoint-phone-md: 575px;

