@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Noto Sans','Roboto', sans-serif; }

/* Utility setting */
.container {
  max-width: 1110px;
  margin: 0 auto; }

.sectTitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  text-align: center;
  margin-bottom: 60px; }

.homeIcon {
  width: 48px;
  height: 48px; }

.bgCover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AA0601;
  color: #FFFFFF;
  padding: 30px 80px; }

.storelogo {
  width: 80px;
  height: 50px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu li {
  margin-left: 62px; }

.menu li:nth-child(1) {
  margin-left: 0; }

.menuItem {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  text-decoration: none; }

.menuItem:hover {
  font-size: calc($primaryFontSize * 1.1); }

.footer {
  background: #AA0601;
  padding: 36px 0px; }

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px; }

.fotMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-bottom: 32px; }

.fotMenu li {
  margin-right: 48px; }

.fotMenu li:last-child {
  margin-right: 0px; }

.fotMenu a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF; }

.fotIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fotIcon li {
  margin-left: 32px; }

.footer .contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .contactList a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 54px; }

.footer .contact .contactListItem {
  margin-left: 12px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #FFFFFF;
  padding-top: 16px; }

.copyright .storelogo {
  margin-right: 38px; }

.copyrightText {
  font-size: 16px;
  line-height: 24px; }

.copyrightList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.copyright ul.copyrightList {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%; }

.copyrightListItem {
  width: 50%;
  font-size: 14px;
  line-height: 21px;
  text-align: right; }

.copyrightListItem a {
  text-decoration: none;
  color: #FFFFFF; }

.banner {
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20%;
  text-align: right;
  color: #650300; }

.banner h3 {
  font-size: 36px;
  line-height: 54px; }

.banner h2 {
  font-size: 64px;
  line-height: 96px; }

.features {
  background: #FBF2F2;
  padding: 64px 0px; }

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.features ul li {
  width: 20%; }

.featuresItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.featuresItemImg {
  max-width: 100px;
  height: 100px;
  margin-bottom: 40px; }

.featuresItemTitle {
  color: #650300;
  font-size: 24px;
  line-height: 36px; }

.featuresItemIntro {
  font-size: 16px;
  line-height: 24px; }

.classic {
  padding: 64px 0px; }

.theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  position: relative; }

.themeImg {
  width: 58%;
  height: 320px; }

.themeTitle {
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  margin-right: auto;
  padding-left: 30px; }

.themeIcon {
  width: 48px;
  height: 48px; }

.classicList li:nth-child(2) .theme {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.classicList li:nth-child(2) .themeTitle {
  margin-right: 0;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 0; }

.cobrand {
  padding: 64px 0px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true"); }

.cobrand .sectTitle {
  color: #FFFFFF; }

.cobrand .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cobrandMenu {
  width: 48%;
  height: 472px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true");
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.cobrandMenu:nth-child(2) {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true"); }

.cobrandTitle {
  color: #650300;
  font-size: 72px;
  line-height: 108px; }

.recommend {
  padding: 64px 0px; }

.recommend .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recommendCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
  border: 1px solid #DEE2E6; }

.recommendCardImg {
  height: 256px; }

.recommendCardContent {
  padding: 16px; }

.recommendCardContent p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #212529; }

.recommendCardContent span {
  font-size: 14px;
  line-height: 21px;
  color: #212529; }

.recommendCardContent span.name {
  font-weight: bold; }

.recommendCardContent span.lastTime {
  font-size: 14px;
  line-height: 21px;
  color: #707070; }

.contact {
  background: #FBF2F2;
  padding: 64px 0px; }

.contact .sectTitle {
  margin-bottom: 0px; }

.contactForm {
  margin: 0 auto;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contactDes {
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0px; }

.contactForm label {
  font-size: 16px;
  line-height: 24px; }

.contactForm label.agree {
  margin-bottom: 42px; }

.contactForm input {
  padding: 14px 16px;
  margin-bottom: 16px; }

.contactForm .commend {
  height: 136px;
  padding: 14px 16px;
  margin-bottom: 16px; }

.contactFormSub {
  width: 50%;
  background: #AA0601;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 16px;
  line-height: 24px; }

.contactFormSub:hover {
  background: #650300; }

/* RWD setting */
@media (max-width: 1200px) {
  .container {
    max-width: 100%; }
  .footer {
    padding: 40px; } }

@media (max-width: 992px) {
  .features .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recommend {
    padding: 40px; }
  .recommend .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recommendCard {
    width: 48%;
    margin-bottom: 28px; } }

@media (max-width: 768px) {
  .sectTitle {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px; }
  .homeIcon {
    width: 24px;
    height: 24px; }
  .banner {
    padding-right: 40px; }
  .banner h3 {
    font-size: 20px;
    line-height: 30px; }
  .banner h2 {
    font-size: 48px;
    line-height: 72px; }
  .features {
    padding: 40px 85px; }
  .features ul li {
    width: 48%;
    margin-bottom: 40px; }
  .features .container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .classic {
    padding: 40px; }
  .themeImg {
    max-width: 390px;
    height: 168px; }
  .themeTitle {
    font-size: 28px;
    line-height: 42px; }
  .themeIcon {
    width: 32px;
    height: 32px; }
  .classicList li:nth-child(2) .theme {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classicList li:nth-child(2) .themeTitle {
    margin-right: auto;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 0; }
  .cobrand {
    padding: 40px; }
  .cobrandMenu {
    height: 280px; }
  .cobrandTitle {
    font-size: 32px;
    line-height: 45px; }
  .contact {
    padding: 40px 0px; }
  .contactForm {
    max-width: 450px; }
  .contactFormSub {
    font-size: 14px;
    line-height: 21px; }
  .contactDes {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0px; }
  .contactForm label {
    font-size: 14px;
    line-height: 21px; }
  .contactForm input {
    padding: 8px 12px;
    margin-bottom: 8px; }
  .fotMenu li {
    margin-right: 40px; }
  .footer .contactList a {
    font-size: 20px;
    line-height: 30px; }
  .copyright .storelogo {
    display: none; } }

@media (max-width: 768px) and (max-width: 575px) {
  .sectTitle {
    font-size: 24px;
    margin-bottom: 20px; }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .storelogo {
    width: 48px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu li {
    width: 50%;
    border: 1px solid #FFFFFF;
    margin-left: 0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px; }
  .banner {
    padding-right: 15px; }
  .banner h3 {
    font-size: 16px; }
  .banner h2 {
    font-size: 32px; }
  .features {
    padding: 32px 55px; }
  .features ul li {
    width: 100%; }
  .classic {
    padding-right: 15px;
    padding-left: 15px; }
  .themeImg {
    width: 100%;
    margin: 0 auto; }
  .themeTitle {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: -21px; }
  .themeIcon {
    -webkit-filter: invert(100%) sepia(39%) saturate(0%) hue-rotate(27deg) brightness(114%) contrast(101%);
            filter: invert(100%) sepia(39%) saturate(0%) hue-rotate(27deg) brightness(114%) contrast(101%); }
  .classicList li:nth-child(2) .themeTitle {
    padding: 0; }
  .cobrand {
    padding: 32px 15px; }
  .cobrand .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .cobrandMenu {
    width: 345px;
    height: 284px; }
  .cobrandMenu:first-child {
    margin-bottom: 16px; }
  .recommend {
    padding: 32px 15px; }
  .recommend .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .recommendCard {
    width: 345px;
    margin-bottom: 16px; }
  .contact {
    padding: 32px 15px; }
  .footer {
    padding: 24px 15px; }
  .fotMenu {
    display: none; }
  .footer .contactList a {
    font-size: 16px; }
  .contactList img {
    width: 20px;
    height: 20px; }
  .fotIcon li {
    margin-left: 24px; }
  .fotIcon li:first-child {
    margin-left: 0px; }
  .copyright, .copyright ul.copyrightList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
  .copyrightList, .copyrightListItem {
    margin-bottom: 8px; }
  .copyrightListItem {
    width: 100%;
    text-align: left;
    margin-left: 0; }
  .copyright ul.copyrightList:after {
    content: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    position: absolute;
    right: 0;
    bottom: 0; } }

/*# sourceMappingURL=all.css.map */
